
<div class="dialog" fxLayout="row" fxLayoutAlign="center center" >
    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Izmeni profil klinike</mat-card-title>
        </mat-card-header>
            <form class="form" #formControl="ngForm">
                <mat-card-content>
                <mat-form-field class="full-width">
                  <input matInput placeholder="naziv" [(ngModel)]="data.naziv" name="naziv"  required>
                </mat-form-field>
                <mat-form-field class="full-width">
                  <input matInput placeholder="adresa" [(ngModel)]="data.adresa" name="adresa"  required>
                </mat-form-field>
                  <mat-form-field class="full-width">
                    <input matInput placeholder="opis" [(ngModel)]="data.opis" name="opis"  required>
                  </mat-form-field>
                   
                      </mat-card-content>
              <button mat-button [type]="submit" [mat-dialog-close]="1" (click)="update()" [disabled]="!formControl.valid">Sacuvaj</button>
              <button mat-button (click)="cancel()">Odustani</button>
            </form>
    </mat-card>
    </div>